<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>王様ゲーム</title>
  </head>
  <body>
    <div id="wapper">
      <div id="main">
        <div class="people_zone clear">
          <p class="name1">ひかる</p>
          <img src="images/arrow.png">
          <p class="name2">橋本環奈</p>
        </div>
        <div class="content_box">
          <p>ほっぺにキスをする。</p>
        </div>
        <button class="start_button start">スタート</button>
        <div class="stop_zone clear">
          <button class="who_has stop_button">誰が</button>
          <button class="to_whom stop_button">誰に</button>
          <button class="to_do stop_button">何をする</button>
        </div>
      </div>
    </div>
  </body>
