<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>王様ゲーム</title>
  </head>
  <body>
    <div id="wapper">
      <div id="main">
        <p>今日は何人で王様ゲームをしますか</p>
        <select>
          <option value="4">4</option>
          <option value="6">6</option>
          <option value="8">8</option>
          <option value="10">10</option>
        </select>人
        <button class="number_submit">決定</button>
      </div>
    </div>
  </body>
